<% include ./partials/header %> 

<!--<%= currentTab %>-->
<style>
	
	
</style>

<%=pages%>


<!--<div class="row">
	
<div class="column"><a href="">
  <img src="https://images.unsplash.com/photo-1581291518857-4e27b48ff24e?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Snow" width="300" height="300">
  <div class="centered">BAU MAIN</div>
	</a>
</div><br>
	
	<div class="column"><a href="">
  <img src="https://images.unsplash.com/photo-1581291518857-4e27b48ff24e?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Snow" width="300" height="300">
  <div class="centered">bau international</div>
	</a>
</div><br>

	<div class="column"><a href="">
  <img src="https://images.unsplash.com/photo-1581291518857-4e27b48ff24e?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Snow" width="300" height="300">
  <div class="centered">bau prep school</div>
	</a>
</div><br>
	
	<div class="column"><a href="">
  <img src="https://images.unsplash.com/photo-1581291518857-4e27b48ff24e?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Snow" width="300" height="300">
  <div class="centered">bau how to apply</div>
	</a>
</div><br>
	
	<div class="column"><a href="">
  <img src="https://images.unsplash.com/photo-1581291518857-4e27b48ff24e?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Snow" width="300" height="300">
  <div class="centered">graduate programs</div>
	</a>
</div><br>
	
	<div class="column"><a href="">
  <img src="https://images.unsplash.com/photo-1581291518857-4e27b48ff24e?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Snow" width="300" height="300">
  <div class="centered">bau global</div>
	</a>
</div><br>
	
<div class="column"><a href="">
  <img src="https://images.unsplash.com/photo-1581291518857-4e27b48ff24e?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Snow" width="300" height="300">
  <div class="centered">Bau university information package</div>
	</a>
</div>
	<br>-->
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>

 <div class="container">

  <!-- 1st section -->
  <section class="row tm-section tm-mb-30"style="margin-top:40px;">
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0 text-center">
    <img src="https://media-exp1.licdn.com/dms/image/C561BAQF0eUvrqIBCew/company-background_10000/0/1521192769071?e=2159024400&v=beta&t=_J2wb2iJlbqdqOfjcDFOWDZf7-yDtkSCuV6ze67WJfc" alt="Image" style="width:100%">
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="tm-flex-center p-5">
      <div class="tm-flex-center tm-flex-col">
        <h2 style="text-align:center; padding-top:20px;">BAU Main Website</h2>
      <p style="text-align:center">This is considered to be the main website of the University it includes all the information about departments,graduate programs and english prepatory school</p>
      <a href="https://bau.edu.tr/" class="btn btn-primary float-lg-right tm-md-align-center" style="position: absolute;margin-left:150px;">Visit the website</a>
      </div>
    </div>
  </div>
</section>
	 

<!-- 2nd section -->
<section class="row tm-section tm-col-md-reverse">
 <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
  <div class="tm-flex-center p-5">
    <div class="tm-md-flex-center">
      <h2 style="text-align:center; padding-top:70px;">BAU International</h2>
      <p style="text-align:center">This is the international website made especially for international students as the main page is mainly turkish. This page also includes informationa about the many departments, how to apply, and graduate opportunities.</p>
      <a href="https://int.bau.edu.tr/" class="btn btn-primary float-lg-right tm-md-align-center" style="position: absolute;margin-left:150px;">Visit the website</a>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0">
  <div class="tm-flex-center p-5 tm-bg-color-primary">
    <div class="tm-max-w-400 tm-flex-center tm-flex-col">
      <img src="https://keystoneacademic-res.cloudinary.com/image/upload/q_auto,f_auto,w_743,c_limit/element/10/109985_22_018.jpg" alt="Image"  style="width:100%">

    </div>
  </div>
</div>
</section>
	

<!-- 3rd Section -->
<section class="row tm-section tm-mb-30">
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0 text-center">
    <img src="https://images.unsplash.com/reserve/fvD9myEgRued3zLne2GS__DSC0033-1.jpg?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80" style="width:80%">
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="tm-flex-center p-5">
      <div class="tm-flex-center tm-flex-col">
        <h2 class="tm-align-left" style="text-align:center">BAU Course Catalog</h2>
        <p style="text-align:center">This wesbite provides you with detailed information about different departments and garduate programs</p>
        <a href="https://akts.bau.edu.tr/" class="btn btn-primary float-lg-right tm-md-align-center" style="position: absolute;margin-left:150px;">Visit the website</a>
      </div>
    </div>
  </div>
</section>
	 
	  <!-- 2nd section -->
<section class="row tm-section tm-col-md-reverse">
 <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
  <div class="tm-flex-center p-5">
    <div class="tm-md-flex-center">
      <h2 style="text-align:center; padding-top:70px;">BAU Prepatory School</h2>
      <p class="mb-4" style="text-align:center">This page includes all the information needed to know about about prepatory school as well as english profeciency exam</p>
      <a href="https://bau.edu.tr/content/4272-english-preparatory-school" class="btn btn-primary float-lg-right tm-md-align-center" style="position: absolute;margin-left:150px;">Visit the website</a>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0">
  <div class="tm-flex-center p-5 tm-bg-color-primary">
    <div class="tm-max-w-400 tm-flex-center tm-flex-col">
      <img src="https://images.unsplash.com/photo-1583361704493-d4d4d1b1d70a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"style="width:100%">
      
		
    </div>
  </div>
</div>
</section>
	 
	 <!-- 3rd Section -->
<section class="row tm-section tm-mb-30">
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0 text-center">
    <img src="https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80" style="width:100%">
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="tm-flex-center p-5">
      <div class="tm-flex-center tm-flex-col">
        <h2 class="tm-align-left"style="text-align:center; padding-top:30px;">How to Apply</h2>
        <p class="mb-4" style="text-align:center">How to apply page provide prospective students with all the details necessary to ease the application process </p>
        <a href="https://int.bau.edu.tr/admission/how-to-apply/" class="btn btn-primary float-lg-right tm-md-align-center" style="position: absolute;margin-left:150px;">Visit the website</a>
      </div>
    </div>
  </div>
</section>
	 
	 <!-- 2nd section -->
<section class="row tm-section tm-col-md-reverse">
 <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
  <div class="tm-flex-center p-5">
    <div class="tm-md-flex-center">
      <h2 style="text-align:center; padding-top:70px;">Graduate Programs</h2>
      <p class="mb-4"  style="text-align:center">This page includes all the information about the Masters and Ph.D programs</p>
      <a href="https://graduateprograms.bau.edu.tr/" class="btn btn-primary float-lg-right tm-md-align-center" style="position: absolute;margin-left:150px;">Visit the website</a>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0">
  <div class="tm-flex-center p-5 tm-bg-color-primary">
    <div class="tm-max-w-400 tm-flex-center tm-flex-col">
      <img src="https://images.unsplash.com/photo-1577036056967-aec1101ab9de?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" style="width:100%">
    </div>
  </div>
</div>
</section>
	 
	 <!-- 3rd Section -->
<section class="row tm-section tm-mb-30">
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0 text-center">
    <img src="https://images.unsplash.com/photo-1526470608268-f674ce90ebd4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80" style="width:90%">
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="tm-flex-center p-5">
      <div class="tm-flex-center tm-flex-col">
        <h2 class="tm-align-left" style="text-align:center; padding-top:70px;">BAU Global</h2>
        <p style="text-align:center">This website offers information about the differnet branches of the university worldwide and different office branches.</p>
        <a href="https://bauglobal.com/" class="btn btn-primary float-lg-right tm-md-align-center" style="position: absolute;margin-left:150px;">Visit the website</a>
      </div>
    </div>
  </div>
</section>
	 <section class="row tm-section tm-col-md-reverse">
 <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
  <div class="tm-flex-center p-5">
    <div class="tm-md-flex-center">
      <h2 style="text-align:center; padding-top:70px;">Academic Calender</h2>
      <p class="mb-4"  style="text-align:center">This page provides the academic calender for both the undergraduate and graduate students</p>
      <a href="https://bau.edu.tr/content/2513-academic-calendar" class="btn btn-primary float-lg-right tm-md-align-center" style="position: absolute;margin-left:150px;">Visit the website</a>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0">
  <div class="tm-flex-center p-5 tm-bg-color-primary">
    <div class="tm-max-w-400 tm-flex-center tm-flex-col">
       <img src="https://images.unsplash.com/photo-1435527173128-983b87201f4d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1047&q=80" style="width:100%">
    </div>
  </div>
</div>
</section>
	 <section class="row tm-section tm-mb-30">
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0 text-center">
    <img src="https://images.unsplash.com/photo-1554252116-30abdf759321?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" style="width:90%">
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="tm-flex-center p-5">
      <div class="tm-flex-center tm-flex-col">
        <h2 class="tm-align-left" style="text-align:center; padding-top:40px;">Forms</h2>
        <p style="text-align:center">This page is where you will find forms regarding petition, withdrawl or any issue regarding courses like exams or section changing</p>
        <a href="https://bau.edu.tr/content/14513-forms" class="btn btn-primary float-lg-right tm-md-align-center" style="position: absolute;margin-left:150px;">Visit the website</a>
      </div>
    </div>
  </div>
</section>
	 <section class="row tm-section tm-col-md-reverse">
 <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
  <div class="tm-flex-center p-5">
    <div class="tm-md-flex-center">
      <h2 style="text-align:center; padding-top:70px;">Residence Permit</h2>
      <p class="mb-4"  style="text-align:center">This page provides information about visa procedure or residence permit</p>
      <a href="https://int.bau.edu.tr/admission/visa-and-residence-permit/" class="btn btn-primary float-lg-right tm-md-align-center" style="position: absolute;margin-left:150px;">Visit the website</a>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0">
  <div class="tm-flex-center p-5 tm-bg-color-primary">
    <div class="tm-max-w-400 tm-flex-center tm-flex-col">
       <img src="https://images.unsplash.com/photo-1613244469730-f1aa82dbe7df?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" style="width:100%">
    </div>
  </div>
</div>
</section>
	  <section class="row tm-section tm-mb-30">
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0 text-center">
    <img src="https://images.unsplash.com/photo-1574362848149-11496d93a7c7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=976&q=80" style="width:90%">
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="tm-flex-center p-5">
      <div class="tm-flex-center tm-flex-col">
        <h2 class="tm-align-left" style="text-align:center; padding-top:40px;">Where can I stay?</h2>
        <p style="text-align:center">In this page you will find details about a dormitory which is located in one of bahcesehir campuses</p>
        <a href="https://bau.edu.tr/content/16475-dormitory-unihall" class="btn btn-primary float-lg-right tm-md-align-center" style="position: absolute;margin-left:150px;">Visit the website</a>
      </div>
    </div>
  </div>
</section>
	 <section class="row tm-section tm-col-md-reverse">
 <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
  <div class="tm-flex-center p-5">
    <div class="tm-md-flex-center">
      <h2 style="text-align:center; padding-top:70px;">Life in campus</h2>
      <p class="mb-4"  style="text-align:center">This page provides information about the different clubs students can join as well as activities</p>
      <a href="https://int.bau.edu.tr/about-bau/being-a-student-bau/life-in-campus/?gclid=Cj0KCQjwyZmEBhCpARIsALIzmnKIzH5-CzQ_Yi8vu8lE9NObphydwZN4MJ9_4hoEEpmuLxboDYpDvzcaAv1UEALw_wcB" class="btn btn-primary float-lg-right tm-md-align-center" style="position: absolute;margin-left:150px;">Visit the website</a>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0">
  <div class="tm-flex-center p-5 tm-bg-color-primary">
    <div class="tm-max-w-400 tm-flex-center tm-flex-col">
       <img src="https://images.unsplash.com/photo-1519664699825-ddb2c64076bf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" style="width:100%">
    </div>
  </div>
</div>
</section>
	 <section class="row tm-section tm-mb-30">
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0 text-center">
    <img src="https://images.unsplash.com/photo-1529148482759-b35b25c5f217?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" style="width:90%">
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="tm-flex-center p-5">
      <div class="tm-flex-center tm-flex-col">
        <h2 class="tm-align-left" style="text-align:center; padding-top:40px;">BAU Library</h2>
        <p style="text-align:center">In this page you will find details and pdf files that are available in the library</p>
        <a href="https://library.bahcesehir.edu.tr/en/" class="btn btn-primary float-lg-right tm-md-align-center" style="position: absolute;margin-left:150px;">Visit the website</a>
      </div>
    </div>
  </div>
</section>
	 <section class="row tm-section tm-col-md-reverse">
 <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
  <div class="tm-flex-center p-5">
    <div class="tm-md-flex-center">
      <h2 style="text-align:center; padding-top:70px;">Scholarship</h2>
      <p class="mb-4"  style="text-align:center">In this page you will find information about the scholarship opportunities</p>
      <a href="https://bau.edu.tr/content/12829-scholarship-opportunities" class="btn btn-primary float-lg-right tm-md-align-center" style="position: absolute;margin-left:150px;">Visit the website</a>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0">
  <div class="tm-flex-center p-5 tm-bg-color-primary">
    <div class="tm-max-w-400 tm-flex-center tm-flex-col">
       <img src="https://images.pexels.com/photos/7092548/pexels-photo-7092548.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="width:100%; height:300px;">
    </div>
  </div>
</div>
</section>
	  <section class="row tm-section tm-mb-30">
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0 text-center">
    <img src="https://images.unsplash.com/photo-1494888427482-242d32babc0b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" style="width:90%">
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <div class="tm-flex-center p-5">
      <div class="tm-flex-center tm-flex-col">
        <h2 class="tm-align-left" style="text-align:center; padding-top:40px;">Tuition Fees</h2>
        <p style="text-align:center">In this page you will find details about the fees of each faculty</p>
        <a href="https://int.bau.edu.tr/admission/tuition-fees/" class="btn btn-primary float-lg-right tm-md-align-center" style="position: absolute;margin-left:150px;">Visit the website</a>
      </div>
    </div>
  </div>
</section>
	 <section class="row tm-section tm-col-md-reverse">
 <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
  <div class="tm-flex-center p-5">
    <div class="tm-md-flex-center">
      <h2 style="text-align:center; padding-top:70px;">FAQ</h2>
      <p class="mb-4"  style="text-align:center">In this page you will find the most asked questions by the students along with the answers</p>
      <a href="https://int.bau.edu.tr/faq/" class="btn btn-primary float-lg-right tm-md-align-center" style="position: absolute;margin-left:150px;">Visit the website</a>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 p-0">
  <div class="tm-flex-center p-5 tm-bg-color-primary">
    <div class="tm-max-w-400 tm-flex-center tm-flex-col">
       <img src="https://images.unsplash.com/photo-1599508704512-2f19efd1e35f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80" style="width:100%; height:300px;">
    </div>
  </div>
</div>
</section>
	
<% include ./partials/footer %> 
