<% include ./partials/header %> 

<style>
.message {
	
  background-color: #ECF2C2;
  width: 1050px;
  border: 10px solid white;
  padding: 20px;
  margin: 20px;
}
	.col-sm{
		border: 1px solid black;
		margin:20px;
 
		
	}
	.col-sm:hover {
  background-color:#ECF2C2;
		border: 1px solid white;
		margin:20px;
}
	.line{
		 border: 0.1px solid black;
		margin:20px;
	}
	#icons{
		margin-left:200px;
	
	}
	#contact{
		border: 1px solid black;
		margin-left:100px;
		margin-right:50px;
		padding:10px;

		
	}
	#contact:hover{
		background-color:#ECF2C2;
		border: 1px solid white;
		
	}
	ul {
  list-style: none;
}
	ul li::before {
  content: "\2022";
  color: #308DF2;
  font-weight: bold;
  display: inline-block; 
  width: 20px;
  margin-left: 5px;
}
</style>


 <div class="container-fluid">
	 
	 
	 <div class="container">
		 <section class="message">
  
        <h4 style="text-align:left; margin-top:20px;color:black; ">Dear Students,</h4>
		<h4 style="text-align:left;color:black; ">Welcome to BAU!</h4>
      <p style="text-align:left; color:black;">As the Dean of Students, our most important mission is to help you, our students, to receive the best academic and scientific education, as well as to contribute to your education as versatile, cultural, innovative, artistic, creative, and productive BAU students.
Social and cultural activities are at the core of human beings, as long as there are opportunities for our students to discover, uncover and develop. At BAU, we continue our efforts to create and develop these opportunities, and we stand by you from the moment you step into BAU.

Student Clubs, which carry out their activities within our organization, are an indispensable part of social life with the color and diversity they add to university life. In order to enrich and facilitate your university life and reveal the potential within you, all you have to do is to take full advantage of all the opportunities BAU offers you and to participate in the activities organized by our clubs by putting all your heart, effort and time.

BAU students are strong, self-confident, work hard, produce, do their job fondly, succeed as they love, get enthusiastic and fly as they succeed.

I wish you all endless success and a happy university life in this most productive period of your life. The future is YOURS!
</p>
		  <h4 style="text-align:right;">
			  Dean of Students
		  </h4>
		  <h4 style="text-align:right;">
			  Assisant Prof. Tuğba Kıral Özkan
		  </h4>
		 
		 </section>
	<!-- 1st section -->
		 <hr class="line">
		
  <section class="compass">
        <h2 style="text-align:center; padding-top:50px">BAU COMPASS</h2>
	  <p style="text-align:left; font-weight: bold;">Student Recognition and Orientation Unit (BAUCompass)
		  <br>
		  <br>

It is a preventive counseling service unit in order to ensure that Bahçeşehir University students have a healthy, successful, and happy school climate.
<br>
		  <br>
Duties and Responsibilities:
	 <br>
		  
</p>
	  <ul>
  <li>To carry out preventive, developmental, and remedial activities in the personal, academic, and professional lives of university students,</li>
  <li>To support adaptation problems after university entrance,</li>
  <li>To find common solutions to the academic problems of the department with the dean of the department.</li>
</ul>
	  <br>
	<div id="icons" class= "row " style="Text-align:center; align-content: center;">
	  <div class="col-md-3 col-sm-6">
		  
	 
	 <p style="font-size:15px;">
		 <i class="fa fa-phone" style="font-size:30px;"></i><br>
		  Nazik KÖSEGİL <br> (BAUCOMPASS Director)<br> +90 212 381 03 02<br>
	  </p>
		</div>
<br>
		<div class="col-md-3 col-sm-6">
	  <p style="font-size:15px;">
		  <i class="fa fa-phone" style="font-size:30px; ">
			</i><br>Elif İrem Çatak <br>(BAUCOMPASS Assistant Specialist) <br> +90 212 381 02 97<br></p>
		</div>
		
		<div class="col-md-3 col-sm-6">
		  
 		<p style="font-size:15px;"><i class="fa fa-phone" style="font-size:30px;"></i><br>
			Soraya Raeispour <br>(BAUCOMPASS Assistant Specialist)<br> +90 212 381 02 96<br></p>
		</div>
			  
			  </div>
    
	  



</section>
		 <hr class="line">
		 <section class="focus">
			       <h2 style="text-align:center; padding-top:50px">BAU FOCUS</h2>
			 <h3 style="text-align:center; padding-bottom:20px">WHAT IS BAU FOCUS ?</h3>
			 
      <p style="text-align:left;">BAU Focus aims to determine the needs of new students at Bahçeşehir University (BAU) and to ensure the sustainable motivation and success of BAU students for their personal, academic, career, and relational needs throughout their education life.

<br>
		  <br>
In this program, developed for Preparatory School students in partnership with BAU School of Foreign Languages, BAU Student Dean's Office, and CLT (Learning and Teaching Center), it is aimed to prepare the individual for the personal and relational needs of university life, not only for career purposes.<br>
<br>
One of the most important goals of BAU Focus is to equip students with the needs they may encounter in university life and to make them sustainable.
		  <br>
		  <br>
BAU Focus believes that it is important for students to feel integrated with their personal and social needs, to lead a beneficial life for themselves and society. For this reason, Life Skills Training for Bahçeşehir University students aims to train students who are curious, know themselves and their interests, have high self-awareness, effectively solve their interpersonal problems, make career plans in accordance with their personality traits, and overcome academic difficulties. 
		  <br>
		  <br>

With this program, it is aimed to support students' academic and career goals, as well as the development of students in individual and social competencies.
</p>
		
			 
		 
		 
		 
		 
		 </section>
		 <hr class="line">
		 <section class="programcont">
			 <h2 style="text-align:center; padding-top:50px">PROGRAM CONTENT</h2>
			 <p>
				 BAU Focus aims to train BAU students on the following most important aspects of university life;
			 </p>
			 <div class="row">
  <div class="col-sm">
	  <h4 style="text-align:center;">
		  PERSONAL
	  </h4>
	  <ul>
		  <li>Motivation 1-2</li>
		  <li>Time Management and Procrastination 1-2</li>
		  <li>Digital Me</li>
		  <li>Psychological Well-being</li>
		  <li>Emotional Literacy, Interpersonal Relationships, Communication Skills</li>
	  </ul>
				 </div>
  <div class="col-sm">
	  <h4 style="text-align:center;">
		  CAREER
	  </h4>
	  <ul>
		  <li>Goal Setting and Early Career Planning</li>

	  </ul>
				 </div>
  <div class="col-sm">
	  <h4 style="text-align:center;">
		  ACADEMIC
	  </h4>
	  <ul>
		  <li>Efficient Studying and University Success 1-2</li>
<li>Faculty Meetings with Graduate Mentor
</li>
	  </ul>
				 </div>
				 <div class="col-sm">
	  <h4 style="text-align:center;">
		  
UNIVERSITY OPPORTUNITIES

	  </h4>
	  <ul>
		   <li>Being a University Student and a New Environment</li>
		  <li>Life from Student to Student at BAU </li>
		  <li>University Opportunities</li>
		  <li>Department-based conversations with faculty academic advisors</li>
		  <li>Culture of Coexistence</li>

	  </ul>
				 </div>
				 
</div>
		 
		 
		 </section>
	 <hr class="line">
	
     <section class="whyjoin">
		 
		 <h2 style="text-align:center; padding-top:50px">WHY SHOULD I JOIN BAU FOCUS?</h2>
			
		 <p>
				 Students participating in the program;
			 </p>
		 <ul>
		   <li>Know the university and its facilities better, have an idea, road map, dream about what to do here. </li>
		  <li>Be one step ahead in terms of self-knowledge, gaining awareness of personal development, and becoming aware of personal, academic,
			  career, and relational needs. </li>
		  <li>Develop awareness of the world in which they live by exhibiting a positive approach to learning around the concept of university education.</li>
		  <li>Realize that university life is a platform where self-discipline is at the forefront, not difficulties.</li>
		  <li>Develop a solution-oriented mindset for their needs.</li>
		 <li>By combining academic achievements with social life skills, they become a role model for other students with an increasing sense of trust.</li>
		 <li>Differentiate into self-confident individuals who have a sense of belonging and satisfaction and do not have job anxiety.</li>

	  </ul>
		 
		 <p>
				BAU FOCUS CERTIFICATE; Certificates are given to students who attend 70% of the program. With this certificate, students make a difference in their resumes and have priority in student applications with a work scholarship 
			 </p>
		  
		  <h3 style="text-align:center; padding-top:50px">PROGRAM APPLICATION</h3>
		 
		  <p>
				By participating in BAU Focus, you can contribute to sustainable motivation and success for your personal, academic, career, and relational needs throughout your education life.<br>
You can join BAU Focus by filling out the form in the link below:
<a href="https://bit.ly/3kH59dA">https://bit.ly/3kH59dA</a> 
For international students: <a href="https://www.kisa.link/OaU2">https://www.kisa.link/OaU2</a>
For your questions about the program, you can contact <a href="zubeyde.akpakir@dso.bau.edu.tr.">zubeyde.akpakir@dso.bau.edu.tr.</a>

			 </p>
		 
		 </section>
	 <hr class="line">
		 <section>
			 <h2 style="text-align:center; padding-top:50px">MEDICO-SOCIAL SERVICES DIRECTORATE</h2>
			 
			  <p style="font-size:15px;">
		 Doctor: Gülfem YURTERİ<br>Phone: +90 212 381 0965<br>
	  </p>
			 <p>
				 The Medico-Social Services Directorate is a health institution for the whole segment it serves, a service unit that meets the counseling and guidance needs of students on physical and mental health issues, as well as a center where applications and research can be carried out in this field to support education and training.

			 </p>
			 <h3 style="text-align:center;">DUTIES AND RESPONSIBILITIES</h3>
			 <ul>
				<li>To carry out emergency and routine examinations and outpatient treatment of all students, employees, retirees, and dependents of our university</li>
<li>To carry out or make all kinds of laboratory, examination, and radiological examinations and procedures of sending emergency and routine patients who require hospitalization and treatment to relevant and appropriate health institutions</li>
<li>Organizing conferences for students and other university staff to protect their health, increase their knowledge and education, and distribute brochures if necessary.
</li>
			 </ul>
			 <br>
			 <br>
			 
		 
		 
		 </section>
		 <hr class="line">
		 <section>
			 <h2 style="text-align:center; padding-top:50px">PSYCHOLOGICAL COUNSELING AND GUIDANCE CENTER</h2>
			 <p>
				 Bahçeşehir University Psychological Counseling and Guidance Center aims to support the individual, social and academic development of students and to provide students with skills that will facilitate their adaptation to university life.<br>

Bahçeşehir University Psychological Counseling and Guidance Center (PDRM) is a unit serving under the Dean of Students. PDRM Office is located in Beşiktaş Main Campus (South Campus) and expert psychologists work in the related Psychological Counseling and Guidance Center office.
All services provided in the Psychological Counseling and Guidance Center are free of charge. All offices work with an appointment system.<br>

You can get information about the center staff, applications, services provided at Bahçeşehir University Psychological Counseling and Guidance Center from our website.<br>
<br>
			 
				
PDRM Website: <a href=" https://bau.edu.tr/icerik/3916-psikolojik-danisma-ve-rehberlik-merkezi">https://bau.edu.tr/icerik/3916-psikolojik-danisma-ve-rehberlik-merkezi</a><br>
For Information and Appointment: <a href="pdrm@dso.bau.edu.tr">pdrm@dso.bau.edu.tr</a><br>
Beşiktaş South Campus<br>
<br>
PDRM Office: Çırağan Cad. No: 15/4 Beşiktaş- Istanbul (Above Kırmızı Kedi Bookstore)
				 <br>
<br>
			 </p>
				 <div class="row">
					 <div id="contact" class="col-sm-4">
						 <p style="text-align:center;">
			Specialist Psychologist Ceylan Ersun<br>
Phone: 0212-381 5851<br>
E-mail: <a href="ceylan.ersun@dso.bau.edu.tr">ceylan.ersun@dso.bau.edu.tr</a>
				 
						 </p>
						 
					 </div>
					  <div id="contact" class="col-sm-4">
						 <p style="text-align:center">
			Specialist Clinical Psychologist İpek Alper<br>
Phone: 0212-381 0295<br>
E-mail: <a href=" ipek.alper@dso.bau.edu.tr">ipek.alper@dso.bau.edu.tr</a>
						  </p> 
						 
					 </div>
			 </div>

									  
<br>
			 <br>



		
			 
		 
		 
		 </section>
		  <hr class="line">

 <section class="whyjoin">
		 
		 <h2 style="text-align:center; padding-top:50px">SPORTS DIRECTORATE</h2>
			
		 <p>
				 Director: İ. Türker KURŞUN <br>
Phone: +90 212 381 5859

			 </p>
		<br>
	 
	  <p>
			Our unit takes care of the formation and preparation of our Football, Men's Basketball, Women's Basketball, and Women's Volleyball Teams in national and international competitions. In addition, candidate students who are planned to receive sports scholarships are presented to the Rectorate. Club team competitions of these students are monitored by our unit. Besides team sports, our university is represented in individual sports such as ski snowboard, tennis, fencing, bowling, swimming, arm wrestling, canoeing, etc. 	 

			 </p>
		 
		 </section>
		 <hr class="line">
	 
 
</div>
	 
</div>



<% include ./partials/footer %> 
