<% include ./partials/header %> 
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

 <div class="container-fluid">
	 <div class="container">
		 
	 
	 <h2>
		 Student Clubs
	 </h2>
	 <h3>
		 Clubs List (2020-2021)
	 </h3>
		 <br>

	 <table>
  <tr>
    <td>1</td>
	  <td>Amerikan Futbolu Kulübü</td>
	  <td>BAU.AFK</td>
  </tr>
		 <tr>
    <td>2</td>
	  <td>Arama ve Kurtarma Kulübü/BUSAR</td>
	  <td>BAU.BUSAR</td>
  </tr>
		  <tr>
    <td>3</td>
	  <td>Atatürkçü Düşünce Kulübü</td>
	  <td>BAU.ADK</td>
  </tr>
		   <tr>
    <td>4</td>
	  <td>AUFBAU</td>
	  <td>BAU.AUF</td>
  </tr>
		   <tr>
    <td>5</td>
	  <td>BAU Alumni Network Club</td>
	  <td>BAU.BARC</td>
  </tr>
		  <tr>
    <td>6</td>
	  <td>BAU Bilim ve Fantastik Kurgu Kulübü</td>
	  <td>BAU.EURAKA</td>
  </tr>
		  <tr>
    <td>7</td>
	  <td>BAU Fit and Gym Kulübü</td>
	  <td>BAU.FIT</td>
  </tr>
		 	  <tr>
    <td>8</td>
	  <td>BAU Hemşirelik Kulübü</td>
	  <td>BAU.HEM</td>
  </tr>
		 
		 	  <tr>
    <td>9</td>
	  <td>BAU Genç Tema Kulübü</td>
	  <td>BAU.GENCTEMA</td>
  </tr>
		 
		 	  <tr>
    <td>10</td>
	  <td>Bah.Üniv.Model Birleşmiş Milletler Topluluğu/BAUMUN </td>
	  <td>BAU.MUN</td>
  </tr>
		 <tr>
    <td>11</td>
	  <td>BAU Life Kulübü </td>
	  <td>BAU.LIFE</td>
		 </tr>
			 <tr>
    <td>12</td>
	  <td>BAU Next-Sosyo Tech Kulübü</td>
	  <td>BAU.NEXT</td>
  </tr>
		  <tr>
    <td>13</td>
	  <td>BAU Oncology Student Interest Group</td>
	  <td>BAU.ONCOLOGY</td>
  </tr>
		 <tr>
    <td>14</td>
	  <td>BAU Riders Kulübü</td>
	  <td>BAU.RIDERS</td>
  </tr>
		 <tr>
    <td>15</td>
	  <td>BAU Startup Topluluğu</td>
	  <td>BAU.STARTUP</td>
  </tr>
		  <tr>
    <td>16</td>
	  <td>BAU Yapay Zeka ve Gelecek Teknolojiler Kulübü</td>
	  <td>BAU.YAPAYZEKA</td>
  </tr>
		 <tr>
    <td>17</td>
	  <td>Beslenme ve Diyetetik Kulübü</td>
	  <td>BAU.BDK</td>
  </tr>
		 <tr>
    <td>18</td>
	  <td>Beşiktaşlılar Topluluğu</td>
	  <td>BAU.KARTALLAR</td>
  </tr>
		 
		 <tr>
    <td>19</td>
	  <td>BISC/ BAU International Student Committee </td>
	  <td>BAU.BISC</td>
  </tr>
		  <tr>
    <td>20</td>
	  <td>Bilimsel Araştırma Topluluğu /BAUBAT </td>
	  <td>BAU.BAT</td>
  </tr>
		   <tr>
    <td>21</td>
	  <td>Bilişim ve Teknoloji Hukuku Kulübü </td>
	  <td>BAU.BTHK</td>
  </tr>
		 <tr>
    <td>22</td>
	  <td>Bisiklet / BAU CYCLING Kulübü</td>
	  <td>BAU.CYCLING</td>
  </tr>
		  <tr>
    <td>23</td>
	  <td>Biyomedikal Kulübü (EMBS)</td>
	  <td>BAU.EMBS</td>
  </tr>
		  <tr>
    <td>24</td>
	  <td>Blockhain Teknolojileri Kulübü</td>
	  <td>BAU.BLOCKCHAIN</td>
  </tr>
		 <tr>
    <td>25</td>
	  <td>Çocuklar İçin Kulübü</td>
	  <td>BAU.COCUK</td>
  </tr>
		  <tr>
    <td>26</td>
	  <td>Dans Kulübü</td>
	  <td>BAU.DANS</td>
  </tr>
		 <tr>
    <td>27</td>
	  <td>Dijital Oyun ve E-Sports Kulübü</td>
	  <td>BAU.ESPOR</td>
  </tr>
		 
		 <tr>
    <td>28</td>
	  <td>Dijital Dönüşüm Kulübü</td>
	  <td>BAU.DIGIT</td>
  </tr>
		 	 <tr>
    <td>29</td>
	  <td>Edebiyat Kulübü</td>
	  <td>BAU.EDEBİYAT</td>
  </tr>
		  <tr>
    <td>30</td>
	  <td>Ekonomi ve Finans Kulübü</td>
	  <td>BAU.EFK</td>
  </tr>
		 <tr>
    <td>31</td>
	  <td>EMSA Kulübü / European Medical Students Association</td>
	  <td>BAU.EMSA</td>
  </tr>
		  <tr>
    <td>32</td>
	  <td>Endüstri Mühendisliği Kulübü</td>
	  <td>BAU.EMK</td>
  </tr>
		  <tr>
    <td>33</td>
	  <td>Enerji Kulübü</td>
	  <td>BAU.ENERJI</td>
  </tr>
		 
		  <tr>
    <td>34</td>
	  <td>Engelsiz Yaşam Kulübü</td>
	  <td>BAU.EYK</td>
  </tr>
		 <tr>
    <td>35</td>
	  <td>Erasmus (ESN) Kulübü</td>
	  <td>BAU.ESN</td>
  </tr>
		 
		 <tr>
    <td>36</td>
	  <td>Felsefe Kulübü</td>
	  <td>BAU.FELSEFE</td>
  </tr>
		  <tr>
    <td>37</td>
	  <td>Fenerbahçeliler Topluluğu/ ÜNİFEB</td>
	  <td>BAU.UNIFEB</td>
  </tr>	 
	<tr>
    <td>38</td>
    <td>Fizyoterapi ve Rehabilitasyon Kulübü</td>
    <td>BAU.FTR</td>
  </tr>
	
	<tr>
    <td>39</td>
    <td>Galatasaraylılar Topluluğu</td>
    <td>BAU.BAHCEAS</td>
  </tr>
		 
		<tr>
    <td>40</td>
    <td>Gastronomi Kulübü</td>
    <td>BAU.GASTRONOMİ</td>
  </tr>
		
	<tr>
    <td>41</td>
    <td>Gezi Kulübü</td>
    <td>BAU.BUHOT</td>
  </tr>
		 
	<tr>
    <td>42</td>
    <td>Halk Oyunları Topluluğu</td>
    <td>BAU.GEZİ</td>
  </tr>	 
		 
		<tr>
    <td>43</td>
    <td>Hukuk Kulübü</td>
    <td>BAU.HUKUK</td>
  </tr>	
		 
	<tr>
    <td>44</td>
    <td>IEEE Kulübü / Mühendislik ve Teknoloji</td>
    <td>BAU.IEEE</td>
  </tr>	
		 
	<tr>
    <td>45</td>
    <td>Inovasyon ve Yönetim Kulübü</td>
    <td>BAU.IM</td>
  </tr>	
		 
		 <tr>
    <td>46</td>
    <td>İnsan Hakları Kulübü</td>
    <td>BAU.IHK</td>
  </tr>	
		 
		 <tr>
    <td>47</td>
    <td>İnşaat Mühendisliği Kulübü</td>
    <td>BAU.INSAAT</td>
  </tr>	 
		 
	<tr>
    <td>48</td>
    <td>İşletme Mühendisliği Kulübü</td>
    <td>BAU.İSLETME</td>
  </tr>	
		 
		 <tr>
    <td>49</td>
    <td>Kariyer ve Gelişim Kulübü</td>
    <td>BAU.KGK</td>
  </tr>
		 
		  <tr>
    <td>50</td>
    <td>Liderlik ve Girişimcilik Kulübü</td>
    <td>BAU.LGK</td>
  </tr>
		 
	<tr>
    <td>51</td>
    <td>Lotus Kulübü</td>
    <td>BAU.LOTUS</td>
  </tr> 
		 
	<tr>
    <td>52</td>
    <td>Mimarlık ve Tasarım Kulübü/MİTAS </td>
    <td>BAU.MİTAS</td>
  </tr> 
		 
	<tr>
    <td>53</td>
    <td>Moleküler Biyoloji ve Genetik Kulübü </td>
    <td>BAU.MBG</td>
  </tr> 
		 
	<tr>
    <td>54</td>
    <td>Münazara Kulübü</td>
    <td>BAU.MÜNAZARA</td>
  </tr>	 
		 
		<tr>
    <td>55</td>
    <td>Müzik Kulübü</td>
    <td>BAU.MÜZİK</td>
  </tr> 
		 
		 <tr>
    <td>56</td>
    <td>Psikoloji Kulübü</td>
    <td>BAU.PSIKOLOJI</td>
  </tr> 
		
		  <tr>
    <td>57</td>
    <td>Psikolojik Danışma ve Rehberlik Kulübü</td>
    <td>BAU.PDR</td>
  </tr>
		 
		 <tr>
    <td>58</td>
    <td>Radyo ve İletişim Kulübü</td>
    <td>BAU.RADYO</td>
  </tr>
		
		  <tr>
    <td>59</td>
    <td>Renkli Çatı Kulübü</td>
    <td>BAU.RENK</td>
  </tr>
		 
		   <tr>
    <td>60</td>
    <td>Siyaset Bilimi ve Uluslararası İlişkiler Kulübü</td>
    <td>BAU.SBUİK</td>
  </tr>
		 
		 <tr>
    <td>61</td>
    <td>Sosyal Sorumluluk Kulübü/Bi'Soluk</td>
    <td>BAU.BISOLUK</td>
  </tr> 
		 
		 <tr>
    <td>62</td>
    <td>Sosyoloji Kulübü</td>
    <td>BAU.SOSYOLOJİ</td>
  </tr> 
		 
		  <tr>
    <td>63</td>
    <td>Sualtı Kulübü</td>
    <td>BAU.BUSAK</td>
  </tr> 
		 
		 <tr>
    <td>64</td>
    <td>Tiyatro Kulübü</td>
    <td>BAU.TİYATRO</td>
  </tr>
		 
		 <tr>
    <td>65</td>
    <td>Tedarik Zinciri ve Lojistik Kulübü</td>
    <td>BAU.LOJİSTİK</td>
  </tr> 
		 
		  <tr>
    <td>66</td>
    <td>Toplum Gönüllüleri Kulübü /BAUTog</td>
    <td>BAU.TOG</td>
  </tr>
		 
		 <tr>
    <td>67</td>
    <td>Türk Müziği Topluluğu</td>
    <td>BAU.TMT</td>
  </tr>
		 
		 <tr>
    <td>68</td>
    <td>Türk Tıp Öğrencileri Birliği/BAUTURKMSIC</td>
    <td>BAU.TURKMSIC</td>
  </tr>
		 
		  <tr>
    <td>69</td>
    <td>Trabzonsporlular Topluluğu</td>
    <td>BAU.TS</td>
  </tr>
		 
		   <tr>
    <td>70</td>
    <td>Uluslararası Hukuk Kulübü</td>
    <td>BAU.UHK</td>
  </tr>
		 
		   <tr>
    <td>71</td>
    <td>Uzay ve Havacılık Kulübü</td>
    <td>BAU.AEROSPACE</td>
  </tr>
		 
		 <tr>
    <td>72</td>
    <td>Yaratıcı İletişimciler Kulübü</td>
    <td>BAU.COMM</td>
  </tr>
		 
		 <tr>
    <td>73</td>
    <td>Yazılım ve Bilişim Kulübü</td>
    <td>BAU.YAZILIM</td>
  </tr>
		 
		 <tr>
    <td>74</td>
    <td>Yelken Kulübü</td>
    <td>BAU.SAILING</td>
  </tr>
		 
		 
</table>
</div>
</div>


<% include ./partials/footer %> 
