<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Create a New department</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/programs" method="POST">
				    <div class="form-group">
      					<label>Department</label>
     					 <select name="department" class="form-control">
        						<option value="Architecture">Architecture</option>
							  <option value="General">General</option>
        				<option value="Interior Architecture and Environmental Design">Interior Architecture and Environmental Design</option>
        				<option value="Industrial Design">Industrial Design</option>				
        				<option value="Computer Engineering">Computer Engineering</option>
							 <option value="Mathematics">Mathematics</option>
        				<option value="Biomedical Engineering">Biomedical Engineering</option>
        				<option value="Industrial Engineering">Industrial Engineering</option>				
        				<option value="Electrical and Electronics Engineering">Electrical and Electronics Engineering</option>
							 <option value="Energy Systems Engineering">Energy Systems Engineering</option>
        				<option value="Molecular Biology and Genetics">Molecular Biology and Genetics</option>
        				<option value="Civil Engineering">Civil Engineering</option>				
        				<option value="Engineering Management">Engineering Management</option>
							 <option value="Mechatronics Engineering">Mechatronics Engineering</option>
        				<option value="Software Engineering">Software Engineering</option>
        				<option value="Artificial Intelligence Engineering Department">Artificial Intelligence Engineering Department</option>				
        				<option value="Nutrition and Dietetics">Nutrition and Dietetics</option>
							 <option value="Physiotherapy and Rehabilitation">Physiotherapy and Rehabilitation</option>
        				<option value="Nursing">Nursing</option>
        				<option value="Child Development">Child Development</option>				
        				<option value="Audiology">Audiology</option>
							 <option value="Management of Health Institutes">Management of Health Institutes</option>
        				<option value="Medicine">Medicine</option>
        				<option value="Oral and Maxillofacial Surgery">Oral and Maxillofacial Surgery</option>				
        				<option value="Pediatric Dentistry (Pedodontics)">Pediatric Dentistry (Pedodontics)</option>
							 <option value="Endodontics">Endodontics</option>
        				<option value="Orthodontics">Orthodontics</option>
        				<option value="Periodontology">Periodontology</option>				
        				<option value="Prosthodontics">Prosthodontics</option>
							 <option value="Restorative Dentistry">Restorative Dentistry</option>
        				<option value="Computer Education and Instructional Technology">Computer Education and Instructional Technology</option>				
        				<option value="Guidance and psychological counseling">Guidance and psychological counseling</option>
							 <option value="Preschool Education">Preschool Education</option>
        				<option value="English Language Teaching">English Language Teaching</option>
							 <option value="Special Education">Special Education</option>
        				<option value="LAW Bachelor’s degree">LAW Bachelor’s degree</option>				
        				<option value="Cartoon and Animation">Cartoon and Animation</option>
							 <option value="Digital Game Design">Digital Game Design</option>
        				<option value="Communication and Design">Communication and Design</option>
        				<option value="Public Relations">Public Relations</option>				
        				<option value="Advertising">Advertising</option>
							 <option value="Cinema and Television">Cinema and Television</option>
        				<option value="New Media">New Media</option>
        				<option value="Photography and video">Photography and video</option>				
        				<option value="American Culture and Literature">American Culture and Literature</option>
							 <option value="European Union Relations">European Union Relations</option>
        				<option value="Economics">Economics</option>
        				<option value="Economics and Finance">Economics and Finance</option>				
        				<option value="Business">Business</option>
							 <option value="Logistics Management">Logistics Management</option>
        				<option value="Political science and international relations">Political science and international relations</option>
        				<option value="Sociology">Sociology</option>				
        				<option value="International Finance">International Finance</option>
							 <option value="International Trade and Business">International Trade and Business</option>
        				<option value="Psychology">Psychology</option>
        				<option value="PHD - Computer Engineering">PHD - Computer Engineering</option>				
        				<option value="PHD - Electrical and Electronics Engineering">PHD - Electrical and Electronics Engineering</option>
							 <option value="PHD - Industrial Engineering">PHD - Industrial Engineering</option>
        				<option value="MA - Information Technologies">MA - Information Technologies</option>
							 <option value="MA - Cyber Security">MA - Cyber Security</option>
        				<option value="MA - Computer Engineering">MA - Computer Engineering</option>				
        				<option value="MA - Bioengineering">MA - Bioengineering</option>
							 <option value="MA - Big Data Analytics and Management">MA - Big Data Analytics and Management</option>
        				<option value="MA - Electrical and Electronics Engineering">MA - Electrical and Electronics Engineering</option>
        				<option value="MA - Industrial 4.0">MA - Industrial 4.0</option>				
        				<option value="MA - Industrial Engineering">MA - Industrial Engineering</option>
							 <option value="MA - Construction Management">MA - Construction Management</option>
							 							 <option value="MA - Energy Systems Operation and Technologies">MA - Energy Systems Operation and Technologies</option>				
        				<option value="MA - Mechatronics Engineering">MA - Mechatronics Engineering</option>
							 <option value="MA - Artificial Intelligence">MA - Artificial Intelligence</option>
        				<option value="MA - Entrepreneurship and Innovation Management">MA - Entrepreneurship and Innovation Management</option>
        				<option value="MA - Marketing">MA - Marketing</option>				
        				<option value="PHD - Political Science and International Relations">PHD - Political Science and International Relations</option>
							 <option value="MA - European Union Relations">MA - European Union Relations</option>
        				<option value="MA - Global Affairs">MA - Global Affairs</option>				
        				<option value="PHD - Neuroscience">PHD - Neuroscience</option>
							 <option value="MA - Neuroscience">MA - Neuroscience</option>
        				<option value="PHD - Public Law">PHD - Public Law</option>
        				<option value="PHD - Private Law">PHD - Private Law</option>				
        				<option value="MA - Informatics">MA - Informatics</option>
							 <option value="MA - Private Law">MA - Private Law</option>
        				<option value="MA - Public Law">MA - Public Law</option>
        				<option value="MA - Capital Markets and Commercial Law">MA - Capital Markets and Commercial Law</option>				
        				<option value="MA - Engineering Management">MA - Engineering Management</option>
							 <option value="MA- Cognitive Neuropsychology">MA- Cognitive Neuropsychology</option>
        				<option value="MA - Clinical Psychology">MA - Clinical Psychology</option>
        				<option value="MA - Guidance Counseling">MA - Guidance Counseling</option>				
        				<option value="MA - History">MA - History</option>
							 <option value="MA - Educational design and evaluation">MA - Educational design and evaluation</option>
        				<option value="MA - Industrial design and innovation">MA - Industrial design and innovation</option>
        				<option value="MA - Architecture">MA - Architecture</option>				
        				<option value="MA - Game development technologies">MA - Game development technologies</option>
							 <option value="MA - Game design">MA - Game design</option>
        				<option value="MA - Audio technologies">MA - Audio technologies</option>
        				<option value="PHD - Architecture and design ">PHD - Architecture and design</option>				
        				<option value="MA - MBA">MA - MBA</option>
							 <option value="MA - Executive MBA">MA - Executive MBA</option>
        				<option value="PHD - Business administration">PHD - Business administration</option>
							 <option value="MA - Banking and Finance ">MA - Banking and Finance</option>
							 <option value="MA - management and information sys ">MA - management and information sys</option>
							 <option value="MA - sports management ">MA - sports management</option>
							 <option value="MA - capital market ">MA - capital market</option>
							 
        				<option value="MA - Film and television ">MA - Film and television</option>
							 <option value="MA - financial technology ">MA - financial technology</option>
							 <option value="MA - accounting and international ">MA - accounting and international</option>
							 <option value="MA - huamn resources ">MA - human resources</option>
							 <option value="MA - philosophy ">MA - philosophy</option>
        				<option value="PHD - Cinema and media research">PHD - Cinema and media research</option>
							 <option value="MA - Educational Technology">MA - Educational Technology</option>
        				<option value="MA - English language education">MA - English language education</option>
        				<option value="PHD - Educational Technology">PHD - Educational Technology</option>				
        				<option value="PHD - English language education">PHD - English language education</option>	
							  <option value="MA - Early Childhood">MA - Early Childhood</option>
							 <option value="MA - Hıgher Education Admin">MA - Hıgher Education Admin</option>
						<option value="Masters and PHD">Masters and PHD</option>
     					 </select>
				</div>
				    <div class="form-group">
      					<label>Faculty</label>
     					 <select name="faculty" class="form-control">
        				<option value="Dentistry">Dentistry</option>
        				<option value="Educational Sciences">Educational Sciences</option>
        				<option value="Law">Law</option>
						<option value="Communication">Communcaiton</option>		 
        				<option value="Economics, Adminstrative and Social Sciences">Economics, Adminstrative and Social Sciences</option>			
						<option value="Architecture and Design">Architecture and Design</option>
						<option value="Engineering and Natural Sciences">Engineering and Natural Sciences</option>
						<option value="Health Sciences">Health Sciences</option>
						<option value="Medicine">Medicine</option>
						<option value="School of Art and Design">School of social sciences</option>
						<option value="School of Health Sciences">School of Health Sciences</option>	
						<option value="School of education">School of education</option>
						<option value="School of 4th department">School of 4th department</option>
						<option value="School of PHD">School of PHD</option>
     					 </select>
				</div>				
                <div class="form-group">
					<label>Program name</label>
                    <input class="form-control" type="text" name="name" placeholder="name">
                </div>
                <div class="form-group">
					<label>image link</label>
                    <input class="form-control" type="text" name="image" placeholder="image url">
                </div>
				<div class="form-group">
			  <label>Description</label>
 				 <textarea class="form-control" name="desc" rows="6"></textarea>
				</div>
                <div class="form-group">
					<label>Description link</label>
                    <input class="form-control" type="text" name="description_link" placeholder="description link">
                </div>	
				<div class="form-group">
			  <label>Graduate programs</label>
 				 <textarea class="form-control" name="graduate_programs" rows="6"></textarea>
				</div>				
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/programs">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>

